<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Page</title>
    {% load static %}
    <link href="{% static 'style.css' %}" rel="stylesheet">
</head>
<body>
    <h3 style="text-align:center; margin-bottom:25px;">
        Welcome {{username}}!
    </h3>

    <div class="restaurant-list">
        {% for r in restaurantList %}
            <article class="restaurant-card">
                <img class="restaurant-card-image" src="{{ r.picture }}" alt="{{ r.name }}">
                <div class="restaurant-card-body">
                    <h2>{{ r.name }}</h2>
                    <p class="restaurant-card-cuisine">{{ r.cuisine }}</p>
                    <p class="restaurant-card-rating">Rating: {{ r.rating }}</p>
                    <a class="btn" href="{% url 'view_menu' r.id username %}">View Menu</a>
                </div>
            </article>
        {% endfor %}
    </div>
    {% include 'footer.html' %}
</body>
</html>